body{
   font-family: sans-serif;
   margin: 0; /* remove default margin */
   display: flex;
   flex-direction: column;
   align-items:center; /*horizontal shift*/
   height: 100vh;
   justify-content: center; /*vertical shift*/
   background: url("https://images.unsplash.com/photo-1615412704911-55d589229864?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bmF0dXJlJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60");
   background-size:cover;
   overflow: scroll; /*to see the change (there will be scroll bar in the right side)use scroll value instead of hidden */

}
h2{
   text-transform: uppercase;
   letter-spacing: 4.5px;
   font-size: 14px;
   text-align: center;
   /*color: white;*/
}
.clock{
   display: flex;
}
.clock div{ /* all div under clock class*/
   margin:5px;
   position:relative
}
 span{
   width: 100px;
   height: 80px;
   background: slateblue;
   opacity: 0.8;
   color: white; /*text color*/
   display: flex;
   justify-content:center ;
   align-items: center;
   font-size: 50px;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);/* position of horizontal_shadow vertical blur_radius*/
}
 .text{
   height: 30px;
   font-size: 10px;
   text-transform: uppercase;
   letter-spacing: 2px;
   background: darkblue;
   opacity: .8;
   
}
#ampm{
   bottom: 0;
   position: absolute;
   width: 60px;
   height:30px;
   font-size :20px;
   background:rgb(236, 43, 139);
}
